absl-py==0.11.0
alembic==1.4.3
aniso8601==8.1.0
astunparse==1.6.3
attrs==20.3.0
Babel==2.9.0
Brotli==1.0.9
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
dash==1.18.1
dash-bootstrap-components==0.10.7
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dill==0.3.3
enum34==1.1.10
filelock==3.0.12
flasgger==0.9.5
Flask==1.1.2
Flask-Compress==1.8.0
Flask-JWT-Extended==3.25.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
flatbuffers==1.12
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gin-config==0.4.0
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
gym==0.17.3
h5py==2.10.0
idna==2.10
importlib-resources==3.3.0
iniconfig==1.1.1
itsdangerous==1.1.0
jax==0.2.7
jaxlib==0.1.57
Jinja2==2.11.2
joblib==1.0.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
mesh-tensorflow==0.1.17
mistune==0.8.4
mock==4.0.3
nlpytools==0.1.0
nltk==3.5
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.8
pandas==1.1.5
pkg-resources==0.0.0
plotly==4.14.2
pluggy==0.13.1
portalocker==2.0.0
promise==2.3
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rouge-score==0.0.4
rsa==4.7
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.4
sentencepiece==0.1.94
six==1.15.0
sklearn-crfsuite==0.3.6
SQLAlchemy==1.3.20
symspellpy==6.7.0
t5==0.7.1
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow @ file:///home/tiago/Downloads/tensorflow-2.4.0-cp38-cp38-linux_x86_64.whl
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.26.0
tensorflow-text==2.4.0
termcolor==1.1.0
tfds-nightly==4.1.0.dev202012170107
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
torch==1.7.1
tqdm==4.54.1
transformers==4.0.1
trax==1.3.6
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
